@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RecipeHub</h1>
    <p>Your go-to app for managing and discovering delicious recipes!.</p>
</div>
